<% students.each do |student| %>
    <%= student.name %>
    <% attendance = student.current_attendance %>
    <span id="attendance-for-<%= student.id %>">
       <%= render attendance%>
    </span>
<% end %>
