<div class="span2">
  <%= link_to (image_tag 'subject.png', width: 120), admin_attendances_path %>
  <hr/>
  <%= link_to 'Attendance', admin_attendances_path %>
</div>

<div class="span2">
  <%= link_to (image_tag 'subject.png', width: 120), exam_groups_path %>
  <hr/>
  <%= link_to 'Exam Group', exam_groups_path %>
</div>
