<div class="row text-center">
  <div class="span2">
    <%= link_to (image_tag 'student-both.png', width: 120), fee_categories_path %><hr />
    <%= link_to 'Fee Categories', fee_categories_path %>
  </div>
  <div class="span2">
    <%= link_to (image_tag 'schedule.png', width: 120), collection_schedules_path %><hr />
    <%= link_to 'Fee Collection', collection_schedules_path %>
  </div>
</div>
